body {
    margin: 0;
}
.container{
    height: 100vh;
    background-color: yellow;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar middle middle middle"
        "sidebar footer footer footer";
}

.header {
    background-color: blue;
    grid-area: header;
}

.sidebar {
    background-color: green;
    grid-area: sidebar;
}

.content {
    grid-area: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: pink;
    grid-area: footer;
}

#menuButton {
    padding: 10px;
    align-self: flex-start;
}

#menu {
    display: flex;
    flex-direction: column;
}

#pictureFrame {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.picture {
    max-width: 1000px;
    max-height: 700px;
    transition: all 2s;
}

.imageButtons {
    display: flex;
    gap: 0.4rem;
}

.empty {
    flex-grow: 90;
    transition: flex-grow 2s;
}

.visible {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 500ms;
}

.hidden {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms;
}

.menuOptions {
    background-color: lightblue;

}

#dots {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.dot {
    display: inline-block;
    background-color: grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.dot-chosen {
    background-color: lightgray;
}

.dot:hover {
    background-color: lightgray
}


